# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/

# Configurações sensíveis
.env
db.json

# IDEs
.vscode/
.idea/

# NÃO ignorar assets - eles devem ir para o git conforme pedido
!src/assets/
